.bg-container {
  background-color: white;
  padding: 10px;
}
.selected-image {
  margin: 20px;
  height: 70vh;
  width: 95vw;
}
.main-heading {
  font-family: 'Roboto';
  margin-left: 20px;
}
.description {
  font-family: 'Roboto';
  margin-left: 20px;
  font-size: 15px;
}
